/* COMMON */
body, h1, h2, h3, h4, h5, h6 {font-family:'Noto Sans KR', "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; letter-spacing:-.8px;}
p {letter-spacing:-.8px;}
.color-gray1 {color:#a6a6a6 !important;}


/* ADMIN-HOME */
.page-sidebar .sidebar-menu .menu-items li:hover > a, .page-sidebar .sidebar-menu .menu-items li.open > a, .page-sidebar .sidebar-menu .menu-items li.active > a {color:#329fa8;}
.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail {color:#329fa8;}
.page-sidebar .sidebar-menu .menu-items > li > a {font-family:'Noto Sans KR', "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;}
.page-sidebar .sidebar-menu .menu-items li > a {width:100%;}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before {content:"\e988";}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {font-size:14px; font-family:'Noto Sans KR', "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important; padding:3px 0;}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow.open:before {transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.page-sidebar .sidebar-menu .util_user {padding:20px 0; border-bottom:1px solid #393e49;}
.page-sidebar .sidebar-menu .util_user p.name_tag {padding-left:30px; margin-bottom:0; color:#b5bac5;}
.page-sidebar .sidebar-menu .util_user p.name_tag b.white {color:#fff;}
.page-sidebar .sidebar-menu .util_user .user_thumb {padding-right:30px;}
.page-sidebar .sidebar-menu .util_user .user_thumb .dropdown-menu.show {padding:10px 0;}
.page-sidebar .sidebar-menu .util_user .user_thumb .dropdown-menu .logout {color:#000;}
.page-container .page-content-wrapper .content {padding-top:30px;}
body.fixed-header .header {display:none;}
.page-container .page-content-wrapper .content {padding-left:250px; width:calc(100% - 30px);}




@media (min-width:1824px){
.menu-pin .container-fluid.container-fixed-lg {width:1590px;}
}

@media only screen and (min-width:980px){
	body.menu-pin .page-container .page-content-wrapper .content {padding-top:30px;}
	body.menu-pin [data-toggle-pin="sidebar"] > i:before, [data-toggle-pin="sidebar"] > i:before {content:'';}
	body.menu-behind .page-sidebar {transform:translate(210px, 0) !important; -webkit-transform:translate(210px, 0) !important; -ms-transform:translate(210px, 0) !important;}
}

@media (max-width:991px){
.page-container .page-content-wrapper .content {padding-left:0; width:100%;}
body.fixed-header .header {display:flex;}
}
